.types {
  .container {
    padding-top: 176px;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    max-width: 638px;
    width: 100%;
    position: relative;
    transition: .3s;
    color: #fbfbfb;
    z-index: 1;
    &:nth-child(2) {
      max-width: 542px;
      padding-left: 34px;
      padding-bottom: 62px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &:hover{
        background:transparent;
      }
    }
    &:nth-child(4) {
      max-width: 542px;
    }
    &:hover{
      background:#293B67;
    }
  }
  &__title {
    font-family: "RebelTypeDog";
    font-weight: 400;
    font-size: 47px;
    line-height: 131.5%;
    letter-spacing: 0.05em;
    margin-top: -10px;
  }
  &__link {
    display: inline-block;
    position: relative;
    width: 507px;
    height: 195.33px;
    margin-left: 5px;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    &::after {
      position: absolute;
      content: "Перейти в каталог";
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-25%);
      font-size: 24px;
      line-height: 33px;
      color: #fbfbfb;
      white-space: nowrap;
      transition: .3s;
    }
    &:hover{
      transform: rotate(9deg);
      &::after{
        transform: translateX(-52%) translateY(-37%) rotate(-9deg);
      }
    }
  }
  &__name {
    position: absolute;
    left: 29px;
    bottom: 30px;
    font-size: 30px;
    line-height: 41px;
  }
}
