.modal-overlay {
  .header-popup {
    @media (max-width: 800px) {
      padding: 70px;
      width: 677px;
      height: 674px;
      &__title {
        font-size: 26px;
        line-height: 131.5%;
        margin-bottom: 13px;
      }
      &__subtitle {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 40px;
      }
      &__input {
        padding: 21px 0px 21px 12px;
        margin-bottom: 20px;
        &::placeholder {
          font-size: 16px;
          line-height: 161.9%;
        }
        &:last-child {
          margin-bottom: 42px;
        }
      }
      &__btn {
        height: 68px;
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 33px;
        span {
          padding-right: 60px;
          &::after {
            width: 42px;
            height: 33px;
            background-size: auto;
          }
        }
      }
      .agreement {
        font-size: 14px;
        line-height: 19px;
        a {
          font-size: 14px;
          line-height: 19px;
        }
      }
      .modal__close-btn {
        width: 25px;
        height: 25px;
        top: 24px;
        right: 21px;
      }
    }
    @media (max-width: 485px) {
      padding: 20px 10px;
      width: 338px;
      height: 435px;
      &__title {
        font-size: 20px;
        line-height: 131.5%;
        letter-spacing: 0.05em;
        margin-bottom: 13px;
      }
      &__subtitle {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 26px;
      }
      &__input {
        padding: 15px 0px 15px 12px;
        margin-bottom: 9px;
        &::placeholder {
          font-size: 16px;
          line-height: 161.9%;
        }
        &:last-child {
          margin-bottom: 24px;
        }
      }
      &__btn {
        height: 53px;
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 12px;
        span {
          padding-right: 60px;
          &::after {
            width: 42px;
            height: 33px;
            background-size: auto;
          }
        }
      }
      .agreement {
        font-size: 12px;
        line-height: 16px;
        a {
          font-size: 12px;
          line-height: 16px;
        }
      }
      .modal__close-btn {
        display: none;
      }
    }
  }
}
