.header {
  &__top {
    background: #1f2023;
    height: 144px;
  }
  .container {
    display: flex;
    position: relative;
  }
  &__logo {
    margin-top: 9px;
    display: inline-block;
    margin-right: 71px;
    svg {
      width: 219px;
      height: 55px;
    }
  }
  &__search {
    position: relative;
    margin-right: 57px;
    svg {
      position: absolute;
      right: -3px;
      bottom: 18px;
      width: 32px;
      height: 32px;
    }
  }
  .search {
    height: 34px;
    width: 345px;
    border-bottom: 1px solid #fbfbfb;
    margin-top: 24px;
    padding-right: 25px;
    outline: none;
  }
  &__phone {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin-top: 26px;
    margin-right: 46px;
    color: #fbfbfb;
  }
  &__social {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    svg {
      width: 24px;
      height: 24px;
    }
  }
  &__whatsapp {
    margin-bottom: 4px;
  }
  &__request-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 231px;
    background: #184cd1;
    text-align: center;
    line-height: 72px;
    font-weight: 600;
    font-size: 16px;
    color: #fbfbfb;
  }
}
