.catalog {
  .catalog__types {
    @media (max-width: 1200px) {
      .container {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
    @media (max-width: 1080px) {
      &-name {
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
      }
    }
    @media (max-width: 800px) {
      &-name {
        font-size: 15px;
      }
    }
    @media (max-width: 744px) {
      padding-top: 47px;
      .catalog__types-title {
        font-size: 26px;
        margin-bottom: 47px;
      }
      &-name {
        left: 25px;
        bottom: 18px;
      }
    }
    @media (max-width: 630px) {
      &-name {
        font-weight: 400;
        font-size: 12px;
        line-height: 11px;
      }
    }
    @media (max-width: 600px) {
      .container {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    @media (max-width: 500px) {
      padding-top: 23px;
      .catalog__types-title {
        font-size: 20px;
        line-height: 131.5%;
        margin-bottom: 23px;
      }
      &-name {
        font-size: 8px;
        line-height: 11px;
        left: 7px;
        bottom: 7px;
      }
    }
  }
  .catalog__collection {
    @media (max-width: 1375px) {
      .tabs__to-collection {
        .img-stone {
          right: -39px;
        }
      }
    }
    @media (max-width: 1255px) {
      .tabs__to-collection {
        .img-stone {
          width: 600px;
          right: -20px;
        }
      }
    }
    @media (max-width: 1200px) {
      .container {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
    @media (max-width: 1100px) {
      .tabs__features-lists {
        width: 400px;
      }
    }
    @media (max-width: 1050px) {
      .tabs__to-collection {
        .img-stone {
          width: 550px;
          top: 70px;
        }
      }
    }
    @media (max-width: 1000px) {
      .tabs__features-lists {
        width: 350px;
      }
    }
    @media (max-width: 960px) {
      padding-top: 80px;
      &-title {
        font-size: 26px;
        line-height: 131.5%;
        letter-spacing: 0.05em;
        margin-bottom: 41px;
      }
      .tabs__btn {
        height: 43px;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
      }
      .tabs__wrapper {
        margin-top: 41px;
        padding-top: 25px;
      }
      .tabs__item-title {
        font-weight: 400;
        font-size: 23px;
        line-height: 31px;
        margin-bottom: 29px;
      }
      .tabs__features-title {
        font-weight: 300;
        font-size: 18px;
        line-height: 29px;
      }
      .tabs__features-item {
        font-weight: 300;
        font-size: 12px;
        line-height: 30px;
      }
      .tabs__to-collection {
        .img-stone {
          width: 390px;
          top: 50px;
        }
      }
      .tabs__to-collection .btn-wrapper .tabs__to-collection-btn {
        &::after {
          font-weight: 600;
          font-size: 14px;
          line-height: 19px;
        }
      }
      .tabs__to-collection {
        img {
          width: 200px;
        }
      }
    }
    @media (max-width: 800px) {
      .tabs__features-lists {
        width: 263px;
      }
      .tabs__wrapper {
        padding-bottom: 53px;
      }
    }
    @media (max-width: 705px) {
      .tabs__to-collection .img-stone {
        width: 360px;
      }
    }
    @media (max-width: 677px) {
      .tabs__to-collection .img-stone {
        width: 320px;
      }
      .tabs__to-collection .btn-wrapper {
        right: 5%;
      }
      .tabs__features-lists {
        width: 202px;
      }
    }
    @media (max-width: 600px) {
      .container {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    @media (max-width: 580px) {
      &-title {
        font-size: 20px;
        line-height: 131.5%;
        margin-bottom: 30px;
      }
      padding-top: 51px;
      .tabs__inner {
        flex-direction: column;
        align-items: center;
      }
      .tabs__to-collection {
        padding-top: 27px;
      }
      .tabs__to-collection .img-stone {
        position: static;
      }
      .tabs__to-collection .btn-wrapper {
        right: auto;
        left: 73px;
        bottom: 20px;
      }
      .tabs__btn {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
      }
    }
    @media (max-width: 580px) {
      .tabs__to-collection .btn-wrapper {
        right: auto;
        left: 73px;
        bottom: 20px;
      }
      .tabs__to-collection .btn-wrapper {
        left: 53px;
      }
      .tabs__wrapper {
        margin-top: 30px;
        padding-top: 22px;
      }
      .tabs__item-title {
        font-size: 18px;
        line-height: 29px;
        margin-bottom: 11px;
      }
      .tabs__features-title {
        font-weight: 300;
        font-size: 14px;
        line-height: 161.9%;
        margin-bottom: 8px;
      }
      .tabs__features-item {
        font-weight: 300;
        font-size: 10px;
        line-height: 24px;
      }
    }
  }
}
